.registration_header
  .registration_header__title
    Chat-Space ver.8.1
.registration_main
  新規登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :ニックネーム
      %br/
      = f.text_field :nickname
    .field
      = f.label :アバター画像
      %br/
      #img_field{onclick: "$('#file').click()"}
      = f.file_field :avatar,class: "image_input", id:"file",accept: '.jpeg, .jpg, .gif, .png, .bmp'
    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :パスワード
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} 文字以上)
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .field
      = f.label :パスワード（確認）
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions
      = f.submit "Sign up"
  = render "devise/shared/links"
