.retweet-link{:id => "retweet-link-#{post.id}"}
  - if current_user.retweets.find_by(post_id: post.id)
    = link_to unretweet_path(post.id), method: :delete, remote: true do
      %i.fas.fa-share-square.heart-like#keyvisual
      %P.up.slideInRight
        = "#{post.retweets.count}"
  - else
    = link_to retweet_path(post.id), method: :post do
      %i.far.fa-share-square.heart-unlike#keyvisual.slideInRight
      %p.down.slideInRight
        ="#{post.retweets.count}"