.like-link{:id => "like-link-#{post.id}"}
  - if current_user.likes.find_by(post_id: post.id)
    = link_to unlike_path(post.id), method: :delete, remote: true do
      %i.fas.fa-star.heart-like#keyvisual
      %P.up.slideInRight
        = "#{post.likes.count}"
  - else
    = link_to like_path(post.id), method: :post, remote: true,class: "like-notify" do
      %i.far.fa-star.heart-unlike#keyvisual.slideInRight
      %p.down.slideInRight
        ="#{post.likes.count}"
:javascript
  $(document).ready(function () {
  $("#notification").notify(); 
  $("#like_notify").click(function() { $("#notification").notify("お気に入りしました！"); return false;});
  });
  $(function(){
    $(document).ready(function() {
      $(".like-notify").click(function() {
      setTimeout(function(){$(".none_notify_like").trigger('click');}, 1000);
      });
    });
  });