= render 'layouts/header'
= render 'layouts/flash_message'
= render 'layouts/post_message'
.root_page
  = render 'layouts/left_bar'
  .root_page__right
    .root_page__right__favo
      お気に入り一覧
    .root_page__right__contents
      - @like_posts.each_with_index do |post,index|
        .root_page__right__contents__list.fadein
          = link_to user_path(post.user),class:".root_page__right__contents__list__avatar" do
            = image_tag avatar(post.user),style: "width: 50px;height:50px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
            %text.root_page__right__contents__list__nickname
              = "#{post.user.nickname}"
          .root_page__right__contents__list__retweet_user
            - user_name = User.find_by(id: Retweet.where(id: post.retweets.last).pluck(:user_id))
            - retweet_user = User.where(id: post.retweets_users.ids).where.not(id: user_name.id) if user_name
            -if user_name == current_user
              -if user_name
                = image_tag avatar(current_user),style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
                = link_to "あなた",user_path(current_user),class:"root_page__right__contents__list__avatar"
                %textがリツイートしました！
                .retweet_other_name
                  = "↪他#{retweet_user.ids.count}名" if retweet_user.ids.count >= 1
            -else
              -if user_name
                = image_tag avatar(user_name),style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
                = link_to "#{user_name.nickname}",user_path(user_name),class:"root_page__right__contents__list__avatar"
                %textさんがリツイートしました！
                .retweet_other_name
                  = "↪他#{retweet_user.ids.count}名" if retweet_user.ids.count >= 1
          .root_page__right__contents__list__post
            .root_page__right__contents__list__post__title
              = "#{post.title}" if post.title
            %text.root_page__right__contents__list__post__text
              = "#{post.text}"
            .root_page__right__contents__list__post__image
              = image_tag post.image,class:"post_image" if post.image.attached?
            %text.root_page__right__contents__list__post__time
              = "#{post.created_at.strftime("%Y/%m/%d %H:%M")}"
          %li.root_page__right__contents__list__like
            = render 'likes/like', post: post
          %li.root_page__right__contents__list__retweet
            = render 'retweets/retweet', post: post
          .root_page__right__contents__list__comment
            %span.far.fa-comment
              = "#{post.comments.count}"
              - if user_signed_in?
                .comment_contents.slideInRight
                  .comment
                    - if post.comments
                      - post.comments.to_enum.with_index.reverse_each do |c,index|
                        .comment__message{"data-comment-id": "#{c.id}"}
                          .comment__message__avatar
                            = image_tag avatar(c.user),style: "width: 40px;height:40px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
                          %text.comment__message__nickname
                            = c.user.nickname
                          .comment__message__comment
                            %text.comment__message__comment__tri
                              &#9701;
                            %text.comment__message__comment__comment
                              = c.comment
                          .comment__message__time
                            %i.far.fa-clock
                            = " #{time_ago_in_words(c.created_at)}前"
                  .comment__form
                    = form_with url: post_comments_path(post.id), method: :post,local: true, id: "new_comment" do |f|
                      .comment__form__text
                        = f.text_area :comment, class: "textbox"
                      .comment__form__submit
                        = f.submit 'コメントする', class: "submit"
  