-unless @posts.blank?
  = render 'layouts/header'
  = render 'layouts/flash_message'
  = render 'layouts/post_message'
  .root_page
    = render 'layouts/left_sider'
    .root_page__right
      .root_page__right__contents__list__post__title{style:"color:black;width:calc(100% - 25%);"}
        Home:
      #menus.root_page__right__contents_fadein.root_page__right__contents{style:"width:calc(100% - 25%);"}
        - @posts.includes(:user,:likes,:retweets).each_with_index do |post,index|
          .root_page__right__contents__list.root_page__right__contents_fadein
            = link_to user_path(post.user),class:"root_page__right__contents__list__avatar" do
              = image_tag avatar(post.user),style: "width: 50px;height:50px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
              %text.root_page__right__contents__list__nickname
                = "#{post.user.nickname}"
            .root_page__right__contents__list__retweet_user
              - user_name = User.includes(:retweets).find_by(id: Retweet.includes(:post,:user).where(id: post.retweets.last).pluck(:user_id))
              - retweet_user = post.retweets.ids.count-1
              -if user_name == current_user
                -if user_name
                  = image_tag avatar(current_user),style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
                  = link_to "あなた",user_path(current_user),class:"root_page__right__contents__list__avatar"
                  %textがリツイートしました！
                  .retweet_other_name
                    = "↪他#{retweet_user}名" if  retweet_user >= 1
              -else
                -if user_name
                  = image_tag avatar(user_name),style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
                  = link_to "#{user_name.nickname}",user_path(user_name),class:"root_page__right__contents__list__avatar"
                  %textさんがリツイートしました！
                  .retweet_other_name
                    = "↪他#{retweet_user}名" if retweet_user >= 1
            .root_page__right__contents__list__post{style:"color:black;width:95%;"}
              -if !post.title.blank?
                .root_page__right__contents__list__post__title{style:"color:black;"}
                  Title:
                  = "#{post.title}"
              -if !post.tag_list.blank?
                .root_page__right__contents__list__post__title{style:"color:black;"}
                  Tag:
                  - post.tag_list.each do |tag|
                    .post_tagt_sharp
                      = "#"
                    =link_to "#{tag}", posts_path(tag: tag), class:"post_tagt_link"
              %text.root_page__right__contents__list__post__text{style:"color:black;"}
                = "#{post.text}"
              .root_page__right__contents__list__post__image.clearfix
                - if post.images.attached?
                  - post.images.each_with_index do |image,i|
                    %div{class: "wrap#{i}"}
                      %a#luminous{href: "#{url_for(image)}"}
                        = image_tag image,class:"post_image#{i}"
              %text.root_page__right__contents__list__post__time
                = "#{post.created_at.strftime("%Y/%m/%d %H:%M")}"
            = render 'layouts/edit', post: post
            %li.root_page__right__contents__list__like
              = render 'likes/like', post: post
            %li.root_page__right__contents__list__retweet
              = render 'retweets/retweet', post: post
            = render 'layouts/comment', post: post
      -# - unless @posts.include?(@posts_last)
      -#   .page-load-status
      -#     .infinite-scroll-request
      -#       = image_tag src="/assets/loading-1.gif",style:"width:60px;height:30px;"
      -# = paginate @posts
      :javascript
        var luminousTrigger = document.querySelectorAll('#luminous')
          if( luminousTrigger !== null ) {
          new LuminousGallery(luminousTrigger);
        }
      .root_page__right__online_user
        #users-list.logbox
          = render partial: 'layouts/online_users', collection: @online_users, as: :member
          = link_to users_path,class:"user-show-more" do
            .user-show-more__nickname
              %i.fas.fa-user-plus
              show more
-else
  = render 'layouts/header'
  = render 'layouts/flash_message'
  = render 'layouts/post_message'
  .root_page
    .root_page__left__group.chardinjs_help{style:"margin-top:50px;","data-intro"=>"メッセージを送る、又は受け取ると上から新着順で最大７件表示されます。","data-position"=>"right"}
      .root_page__left__group__users
        -unless @talk_user.blank?
          - @talk_user.includes(:groups,:messages).each do |user|
            %ul.root_page__left__group__users__link 
              = link_to group_messages_path(user.groups.find_by(id: current_user.groups.ids)) do
                %li.root_page__left__group__users__link__avatar
                  = image_tag avatar(user),style: "width: 40px;height:40px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
                %li.root_page__left__group__users__link__nickname
                  = "#{user.nickname}"
                %li.root_page__left__group__users__link__last-message
                  = user.groups.find_by(id: current_user.groups.ids).show_last_message
                -check_box = (user.groups.find_by(id: current_user.groups.ids)).messages.where(checked: false).where.not(user_id: current_user.id)
                -if check_box.any?
                  %li.root_page__left__group__users__link__check_box
                    = check_box.count
        -else
          .root_page__left__group__users__no_group
            まだメッセージはありません。
            %br/
            メッセージを送信、又は受信するとここに
            %br/
            表示されます。
    .root_page__right{style:"height:100%;"}
      .root_page__right__contents{style:"width:calc(100% - 25%);float:left;"}
        =render 'layouts/chardinjs'
    .root_page__right__online_user{style:"position:absolute;"}
      #users-list.logbox
        .login_box
          =link_to user_path(current_user),class:"user-login" do
            .user-login__avatar
              = image_tag src="/assets/github.png",crass:"user_avatar",style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
            .user-login__nickname
              test
            .user-login__online
              %i.fas.fa-check-circle
              online
      #users-list.logbox
        .login_box
          =link_to user_path(current_user),class:"user-login" do
            .user-login__avatar
              = image_tag src="/assets/github.png",crass:"user_avatar",style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
            .user-login__nickname
              gitcat
            .user-login__time
              %i.fas.fa-sign-out-alt
              2時間前
      #users-list.logbox{"data-intro"=>"フォローユーザーのログイン履歴が表示されます。","data-position"=>"left"}
        .login_box
          =link_to user_path(current_user),class:"user-login" do
            .user-login__avatar
              = image_tag src="/assets/github.png",crass:"user_avatar",style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
            .user-login__nickname
              ギット猫
            .user-login__time
              %i.fas.fa-sign-out-alt
              5時間前
      #users-list.logbox
        .login_box
          =link_to destroy_user_session_path,class:"user-login",method: :delete do
            .user-login__avatar
            .user-login__nickname
              %i.fas.fa-sign-out-alt
              ログアウト
            .user-login__time
:javascript
  $(function($){
    $('.root_page__right__contents__tabs__tab').click(function(){
      $('.is-active').removeClass('is-active');
      $(this).addClass('is-active');
      $('.is-show').removeClass('is-show');
      const index = $(this).index();
      $('.root_page__right__contents__panels__panel').eq(index).addClass('is-show');
    });
  });
  $(function(){
  $('.js-modal-open-edit').on('click',function(){
      $('.js-modal-edit').fadeIn();
  });
  $('.js-modal-close-edit').on('click',function(){
      $('.js-modal-edit').fadeOut();
  });
  });