= render 'layouts/header'
= render 'layouts/post_message'
= render 'layouts/flash_message'
.notifications
  = link_to notifications_path,class: "btn" do
    %i.far.fa-bell
    - if unchecked_notifications.any?
      %i.fa.fa-circle.notification-circle
.root_page
  .root_page__left{style:"margin-top:50px;"}
    .root_page__left__group
      .root_page__left__group__users
        - @talk_user.each do |user|
          %ul.root_page__left__group__users__link 
            = link_to group_messages_path(user.groups.find_by(id: current_user.groups.ids)) do
              %li.root_page__left__group__users__link__avatar
                = image_tag avatar(user),style: "width: 40px;height:40px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
              %li.root_page__left__group__users__link__nickname
                = "#{user.nickname}"
              .root_page__left__group__users__link__smrck
              %li.root_page__left__group__users__link__last-message
                = user.groups.find_by(id: current_user.groups.ids).show_last_message
  .root_page__right
    .root_page__right__contents
      - @posts.each_with_index do |post,index|
        .root_page__right__contents__list.fadein
          = link_to user_path(post.user),class:".root_page__right__contents__list__avatar" do
            = image_tag avatar(post.user),style: "width: 50px;height:50px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
            %text.root_page__right__contents__list__nickname
              = "#{post.user.nickname}"
          .root_page__right__contents__list__post
            .root_page__right__contents__list__post__title
              = "#{post.title}" if post.title
            %text.root_page__right__contents__list__post__text
              = "#{post.text}"
            .root_page__right__contents__list__post__image
              = image_tag post.image,class:"post_image" if post.image.attached?
            %text.root_page__right__contents__list__post__time
              = "#{post.created_at.strftime("%Y/%m/%d %H:%M")}"
          %li.root_page__right__contents__list__like
            = render 'likes/like', post: post
          .root_page__right__contents__list__comment
            %span.far.fa-comment
              = "#{post.comments.count}"
              - if user_signed_in?
                .comment_contents.slideInRight
                  .comment
                    - if post.comments
                      - post.comments.to_enum.with_index.reverse_each do |c,index|
                        .comment__message{"data-comment-id": "#{c.id}"}
                          .comment__message__avatar
                            = image_tag avatar(c.user),style: "width: 40px;height:40px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
                          %text.comment__message__nickname
                            = c.user.nickname
                          .comment__message__comment
                            %text.comment__message__comment__tri
                              &#9701;
                            %text.comment__message__comment__comment
                              = c.comment
                          .comment__message__time
                            %i.far.fa-clock
                            = " #{time_ago_in_words(c.created_at)}前"
                  .comment__form
                    = form_with url: post_comments_path(post.id), method: :post,local: true, id: "new_comment" do |f|
                      .comment__form__text
                        = f.text_area :comment, class: "textbox"
                      .comment__form__submit
                        = f.submit 'コメントする', class: "submit"