= render 'layouts/header'
= render 'layouts/flash_message'
= render 'layouts/post_message'
.root_page
  = render 'layouts/left_bar'
  .root_page__right
    .user_show
      .user_show__left
        = image_tag avatar(@user),style: "width: 100px;height:100px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
        .user_show__left__nickname
          = "#{@user.nickname}"
        .user_show__left__fff
          .user_show__left__fff__followings
            = link_to "#{@user.followings.count}",root_path
            %text フォロー中
          .user_show__left__fff__reverse_of_relationships
            = link_to "#{@user.reverse_of_relationships.count}",root_path
            %text フォロワー
        %ul.user_show__left__link
          %li.user_show__left__link__list
            - unless current_user == @user
              = form_with model: @group, local: true  do |f|
                %input{name: "group[user_ids][]", type: "hidden", value: "#{@user.id}"}/
                = f.hidden_field :name, value: "#{@user.nickname}さん"
                = f.submit "メッセージ送る", class: "btn-social-square btn-social-square--twitter"
          %li.user_show__left__link__list#follow_botton
            - unless current_user == @user
              - if current_user.following?(@user)
                = render "layouts/follow_botton"
              -else
                = render "layouts/follow_botton"
        %ul.user_show__left__link
          .user_show__left__link__follower
        %ul.user_show__left__link__followe
          .user_show__left__link__follow
    - @posts.each_with_index do |post,index|
      .root_page__right__contents__list
        = link_to user_path(post.user),class:".root_page__right__contents__list__avatar" do
          = image_tag avatar(post.user),style: "width: 50px;height:50px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
          %text.root_page__right__contents__list__nickname
            = "#{post.user.nickname}"
        .root_page__right__contents__list__retweet_user
          - user_name = User.find_by(id: post.retweets_users.ids.last)
          -if user_name
            = image_tag avatar(user_name),style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
            = link_to "#{user_name.nickname}",user_path(user_name),class:"root_page__right__contents__list__avatar"
            %textさんがシェアしました！
        .root_page__right__contents__list__post
          .root_page__right__contents__list__post__title
            = "#{post.title}" if post.title
          %text.root_page__right__contents__list__post__text
            = "#{post.text}"
          .root_page__right__contents__list__post__image
            = image_tag post.image,class:"post_image" if post.image.attached?
          %text.root_page__right__contents__list__post__time
            = "#{post.created_at.strftime("%Y/%m/%d %H:%M")}"
        %li.root_page__right__contents__list__like
          = render 'likes/like', post: post
        %li.root_page__right__contents__list__retweet
          = render 'retweets/retweet', post: post
        .root_page__right__contents__list__comment
          %span.far.fa-comment
            = "#{post.comments.count}"
            - if user_signed_in?
              .comment_contents.slideInRight
                .comment
                  - if post.comments
                    - post.comments.each_with_index do |c,index|
                      .comment__message{"data-comment-id": "#{c.id}"}
                        .comment__message__avatar
                          = image_tag avatar(c.user),style: "width: 40px;height:40px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
                        %text.comment__message__nickname
                          = c.user.nickname
                        .comment__message__comment
                          %text.comment__message__comment__tri
                            &#9701;
                          %text.comment__message__comment__comment
                            = c.comment
                        .comment__message__time
                          %i.far.fa-clock
                          = " #{time_ago_in_words(c.created_at)}前"
                .comment__form
                  = form_with url: post_comments_path(post.id), method: :post,local: true, id: "new_comment" do |f|
                    .comment__form__text
                      = f.text_area :comment, class: "textbox"
                    .comment__form__submit
                      = f.submit 'コメントする', class: "submit"