= render 'layouts/header'
= render 'layouts/flash_message'
= render 'layouts/post_edit'
.root_page
  = render 'layouts/left_bar'
  .root_page__right
    .root_page__right__contents
      .root_page__right__contents__list.root_page__right__contents_fadein
        = link_to user_path(@post.user),class:".root_page__right__contents__list__avatar" do
          = image_tag avatar(@post.user),style: "width: 50px;height:50px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
          %text.root_page__right__contents__list__nickname
            = "#{@post.user.nickname}"
        .root_page__right__contents__list__retweet_user
          - user_name = User.includes(:retweets).find_by(id: Retweet.includes(:post,:user).where(id: @post.retweets.last).pluck(:user_id))
          - retweet_user = @post.retweets.ids.count-1
          -if user_name == current_user
            -if user_name
              = image_tag avatar(current_user),style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
              = link_to "あなた",user_path(current_user),class:"root_page__right__contents__list__avatar"
              %textがリツイートしました！
              .retweet_other_name
                = "↪他#{retweet_user}名" if  retweet_user >= 1
          -else
            -if user_name
              = image_tag avatar(user_name),style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
              = link_to "#{user_name.nickname}",user_path(user_name),class:"root_page__right__contents__list__avatar"
              %textさんがリツイートしました！
              .retweet_other_name
                = "↪他#{retweet_user}名" if retweet_user >= 1
        .root_page__right__contents__list__post
          .root_page__right__contents__list__post__title{style:"color:black;"}
            = "#{@post.title}" if @post.title
          %text.root_page__right__contents__list__post__text{style:"color:black;"}
            = "#{@post.text}"
          .root_page__right__contents__list__post__image
            = image_tag @post.image,class:"post_image" if @post.image.attached?
          %text.root_page__right__contents__list__post__time
            = "#{@post.created_at.strftime("%Y/%m/%d %H:%M")}"
        %li.root_page__right__contents__list__like
          = render 'likes/like', post: @post
        %li.root_page__right__contents__list__retweet
          = render 'retweets/retweet', post: @post
        .root_page__right__contents__list__comment
          %span.far.fa-comment
            = "#{@post.comments.count}"
            - if user_signed_in?
              .comment_contents.slideInRight
                .comment
                  - if @post.comments
                    - @post.comments.includes(:user).to_enum.with_index.reverse_each do |c,index|
                      .comment__message{"data-comment-id": "#{c.id}"}
                        .comment__message__avatar
                          = image_tag avatar(c.user),style: "width: 40px;height:40px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
                        %text.comment__message__nickname
                          = c.user.nickname
                        .comment__message__comment
                          %text.comment__message__comment__tri
                            &#9701;
                          %text.comment__message__comment__comment
                            = c.comment
                        .comment__message__time
                          %i.far.fa-clock
                          = " #{time_ago_in_words(c.created_at)}前"
                .comment__form
                  = form_with url: post_comments_path(@post.id), method: :post,local: true, id: "new_comment" do |f|
                    .comment__form__text
                      = f.text_area :comment, class: "textbox"
                    .comment__form__submit
                      = f.submit 'コメントする', class: "submit"
    .root_page__right__contents__tabs.root_page__right__contents_fadein
      %li.root_page__right__contents__tabs__tab.is-active
        いいね
      %li.root_page__right__contents__tabs__tab
        リツイート
      %li.root_page__right__contents__tabs__tab
        編集・削除
    .root_page__right__contents__panels.root_page__right__contents_fadein
      .root_page__right__contents__panels__panel.is-show        
        -@like_user.each do |like_user|
          = link_to user_path(like_user) ,class:"root_page__right__contents__panels__panel__link" do
            .root_page__right__contents__panels__panel__link__avatar
              = image_tag avatar(like_user),style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
            .root_page__right__contents__panels__panel__link__nickname
              = "#{like_user.nickname}"
            -if current_user.following?(like_user)
              .root_page__right__contents__panels__panel__link__following
                フォロー中
            -if !like_user.profile.blank?
              .root_page__right__contents__panels__panel__link__profile
                = "#{like_user.profile}"
      .root_page__right__contents__panels__panel
        -@retweet_user.each do |retweet_user|
          = link_to user_path(retweet_user) ,class:"root_page__right__contents__panels__panel__link" do
            .root_page__right__contents__panels__panel__link__avatar
              = image_tag avatar(retweet_user),style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
            .root_page__right__contents__panels__panel__link__nickname
              = "#{retweet_user.nickname}"
            -if current_user.following?(retweet_user)
              .root_page__right__contents__panels__panel__link__following
                フォロー中
            -if !retweet_user.profile.blank?
              .root_page__right__contents__panels__panel__link__profile
                = "#{retweet_user.profile}"
      .root_page__right__contents__panels__panel
        .root_page__right__contents__panels__panel__edit
          %text.edit_btn.js-modal-open-edit
            %i.fas.fa-edit
            編集
        .root_page__right__contents__panels__panel__delete
          = link_to post_path(@post),class:"delete_btn",method: :delete do
            %i.fas.fa-trash-alt
            削除
    :javascript
      $(function($){
        $('.root_page__right__contents__tabs__tab').click(function(){
          $('.is-active').removeClass('is-active');
          $(this).addClass('is-active');
          $('.is-show').removeClass('is-show');
          const index = $(this).index();
          $('.root_page__right__contents__panels__panel').eq(index).addClass('is-show');
        });
      });
      $(function(){
      $('.js-modal-open-edit').on('click',function(){
          $('.js-modal-edit').fadeIn();
      });
      $('.js-modal-close-edit').on('click',function(){
          $('.js-modal-edit').fadeOut();
      });
      });