-unless !@posts.blank?
  = render 'layouts/header'
  = render 'layouts/flash_message'
  = render 'layouts/post_message'
  .root_page
    = render 'layouts/left_bar'
    .root_page__right
      .root_page__right__contents__list__post__title{style:"color:black;"}
        Tag:
        .post_tagt_sharp
          = "#"
        =link_to "#{@tags_post_name}", posts_path(tag: @tags_post_name), class:"post_tagt_link"
        の投稿一覧
      .root_page__right__contents
        - @tags_post.includes(:user,:likes,:retweets).each_with_index do |post,index|
          .root_page__right__contents__list.root_page__right__contents_fadein
            = link_to user_path(post.user),class:".root_page__right__contents__list__avatar" do
              = image_tag avatar(post.user),style: "width: 50px;height:50px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
              %text.root_page__right__contents__list__nickname
                = "#{post.user.nickname}"
            .root_page__right__contents__list__retweet_user
              - user_name = User.includes(:retweets).find_by(id: Retweet.includes(:post,:user).where(id: post.retweets.last).pluck(:user_id))
              - retweet_user = post.retweets.ids.count-1
              -if user_name == current_user
                -if user_name
                  = image_tag avatar(current_user),style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
                  = link_to "あなた",user_path(current_user),class:"root_page__right__contents__list__avatar"
                  %textがリツイートしました！
                  .retweet_other_name
                    = "↪他#{retweet_user}名" if  retweet_user >= 1
              -else
                -if user_name
                  = image_tag avatar(user_name),style: "width: 30px;height:30px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
                  = link_to "#{user_name.nickname}",user_path(user_name),class:"root_page__right__contents__list__avatar"
                  %textさんがリツイートしました！
                  .retweet_other_name
                    = "↪他#{retweet_user}名" if retweet_user >= 1
            .root_page__right__contents__list__post
              -if !post.title.blank?
                .root_page__right__contents__list__post__title{style:"color:black;"}
                  Title:
                  = "#{post.title}"
              -if !post.tag_list.blank?
                .root_page__right__contents__list__post__title{style:"color:black;"}
                  Tag:
                  - post.tag_list.each do |tag|
                    .post_tagt_sharp
                      = "#"
                    =link_to "#{tag}", posts_path(tag: tag), class:"post_tagt_link"
              %text.root_page__right__contents__list__post__text{style:"color:black;"}
                = "#{post.text}"
              .root_page__right__contents__list__post__image.clearfix
                - if post.images.attached?
                  - post.images.each_with_index do |image,i|
                    %div{class: "wrap#{i}"}
                      %a#luminous{href: "#{url_for(image)}"}
                        = image_tag image,class:"post_image#{i}"
              %text.root_page__right__contents__list__post__time
                = "#{post.created_at.strftime("%Y/%m/%d %H:%M")}"
            = render 'layouts/edit', post: post
            %li.root_page__right__contents__list__like
              = render 'likes/like', post: post
            %li.root_page__right__contents__list__retweet
              = render 'retweets/retweet', post: post
            = render 'layouts/comment', post: post
  :javascript
    var luminousTrigger = document.querySelectorAll('#luminous');
    if( luminousTrigger !== null ) {
      new LuminousGallery(luminousTrigger);
    }
-else 
  = render 'layouts/header'
  = render 'layouts/flash_message'
  = render 'layouts/post_message'
  .root_page
    = render 'layouts/left_bar'
    .root_page__right{style:"height:100%;"}
      .root_page__right__contents
        =render 'layouts/chardinjs'
