.root_page__right__contents__list__comment
  %span.far.fa-comment
    = "#{post.comments.count}"
    - if user_signed_in?
      .comment_contents.slideInRight
        .comment
          - if post.comments
            - post.comments.includes(:user).to_enum.with_index.reverse_each do |c,index|
              .comment__message{"data-comment-id": "#{c.id}"}
                .comment__message__avatar
                  = image_tag avatar(c.user),style: "width: 40px;height:40px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
                %text.comment__message__nickname
                  = c.user.nickname
                .comment__message__comment
                  %text.comment__message__comment__tri
                    &#9701;
                  %text.comment__message__comment__comment
                    = c.comment
                .comment__message__time
                  %i.far.fa-clock
                  = " #{time_ago_in_words(c.created_at)}前"
        .comment__form
          = form_with url: post_comments_path(post.id), method: :post,local: true, id: "new_comment" do |f|
            .comment__form__text
              = f.text_area :comment, class: "textbox"
            .comment__form__submit
              = f.submit 'コメントする', class: "submit"