%header.header
  %nav.global-nav
    .side_bar
      .side_contents
        .contents
          .root_page__left
            %text.hed_text
              新着メッセージ
            .root_page__left__group
              .root_page__left__group__users
                -unless @talk_user.blank?
                  - @talk_user.includes(:groups,:messages).each do |user|
                    %ul.root_page__left__group__users__link 
                      = link_to group_messages_path(user.groups.find_by(id: current_user.groups.ids)) do
                        %li.root_page__left__group__users__link__avatar
                          = image_tag avatar(user),style: "width: 40px;height:40px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
                        %li.root_page__left__group__users__link__nickname
                          = "#{user.nickname}"
                        %li.root_page__left__group__users__link__last-message
                          = user.groups.find_by(id: current_user.groups.ids).show_last_message
                        -check_box = (user.groups.find_by(id: current_user.groups.ids)).messages.where(checked: false).where.not(user_id: current_user.id)
                        -if check_box.any?
                          %li.root_page__left__group__users__link__check_box
                            = check_box.count
                -else
                  .root_page__left__group__users__no_group
                    まだメッセージはありません。
                    %br/
                    メッセージを送信、又は受信するとここに
                    %br/
                    表示されます。
  #js-hamburger.hamburger{"data-intro"=>"クリックするとサイドバーが開き新着メッセージ情報を確認できます。","data-position"=>"right"}
    %span.hamburger__line.hamburger__line--1
    %span.hamburger__line.hamburger__line--2
    %span.hamburger__line.hamburger__line--3
  #js-black-bg.black-bg
  :javascript
    function toggleNav() {
      var body = document.body;
      var hamburger = document.getElementById('js-hamburger');
      var blackBg = document.getElementById('js-black-bg');

      hamburger.addEventListener('click', function() {
        body.classList.toggle('nav-open');
      });
      blackBg.addEventListener('click', function() {
        body.classList.remove('nav-open');
      });
      }
    toggleNav();
-if user_signed_in?
  .mark_icon_5{"data-intro"=>"各ページへ飛べます。マウスオーバーで詳細出ます。","data-position"=>"bottom"}
    .user_plus
      = link_to users_path do
        %i.fas.fa-user-plus
        .user_plus__hover_message
          ユーザーを追加
    .notifications
      %i.fas.fa-envelope-open-text
      = link_to notifications_path,class: "btn" do
        %i.far.fa-bell
        %span.notification_border#notification
        %span.notification_border1#notification
        .notifications__hover_message
          お知らせを見る
        - if unchecked_notifications.any?
          .nav-count1
            = unchecked_notifications.count
    .home_btn
      = link_to root_path,class: "btn" do
        %i.fas.fa-home
        .hover_message
          トップへ戻る
    .group_show_btn
      = link_to groups_path,class: "btn" do
        %i.fas.fa-comments
        .hover_message_group
          トーク一覧
    .like_show_btn
      = link_to like_show_users_path,class: "btn" do
        %i.fas.fa-star
        .hover_message_star
          お気に入り一覧
  .none_notify_retweet#show_notify{type: 'hidden'}
  .none_notify_like#like_notify{type: 'hidden'}
  .none_notify_follow#follow_notify{type: 'hidden'}
