- visiter=notification.visiter
- post=notification.post
.user-view.clearfix
  = link_to user_path(notification.visiter.id),class:"user_image" do
    = image_tag avatar(visiter),style: "width: 50px;height:50px;border-radius:50%;box-shadow:rgba(133, 241, 255, 0.856)0px 0px 2px 2px;"
  .notification_text
    != notification_form(notification)
  - if !@comment.nil?
    %p.moderate-font= @comment
  - if !@message.nil?
    %p.moderate-font= @message
  %br/
  %span.moderate-font_time= " (#{time_ago_in_words(notification.created_at)}前)"
  
