.item-details-container
  .js-modal.js-modal-close.delete-contnet
    .delete-contnet__box
      = form_with url: "/posts#create", method: :post do |f|
        -# #img_field{onclick: "$('#file').click()"}
        = f.file_field :image,class: "image_input", id:"file",accept: '.jpeg, .jpg, .gif, .png, .bmp'
        = f.text_field :title
        = f.text_area  :text, class: "textbox"
        = f.submit '投稿する', class: "submit"
      .delete-contnet__box__btn
.js-modal-open.edit-buttons__sd
  %br/
  %br/
  %br/
  %br/
  モーダルテスト
