.js-modal.new-post
  .new-post__box
    %h2投稿フォーム
    .js-modal-close
      %i.fas.fa-times
      %text 閉じる
    .post_from
      = form_with url: "/posts#create", method: :post, local: true do |f|
        .post_from__title
          = f.text_field :title,class:"text_field",placeholder:"タイトル"
        .post_from__image
          #img_field{onclick: "$('#file').click()"}
          = f.file_field :image,class: "post_from__image__input", id:"file",accept: '.jpeg, .jpg, .gif, .png, .bmp'
        .post_from__text
          = f.text_area  :text, class: "ef",placeholder:"テキスト"
          %span.focus_line
            %i
        .post_from__submit
          = f.submit '投稿する', class: "submit"
.js-modal-open.new_post_btn
  %i.fas.fa-pen
  %text.new_post_btn__pen
    投稿する